@charset "UTF-8";
 
*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(#7D8491, #C0C5C1);
}

main {
    background-color: #EAF0CE;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #32292f83;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #BB0A21;
    text-align: center;
    text-shadow: 1px 1px 0px #32292f85;
}
h2{
    color: #32292F;
}
p{
    text-align: justify;
}

